*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

h3{
    padding-top: 10px;
}
header{
    display: flex;
    width: 100%;
    background: antiquewhite;
}
header h1{
    padding: 5px 0 5px 50px;
    width: 40vw;
}

.header_div_pages{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    padding: 5px 50px 5px 0;
}

aside{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 3px;
}

.a_current{
    color: blue;
    /*background: lightgray;*/
    font-weight: bold;
    font-size: 18px;
    border-style: solid;
    /*border-color: black;*/
    /*margin: 7px;*/
}

main{
    padding-left: 30px;
    font-size: 18px;
}

/*style for homework 11.01*/
.divWithInfo{
    font-weight: bold;
}
.div_products{
    display: flex;
    border-style: solid;
    /*border-style: solid;*/
}
.p_info{
    color: blue;
}
.img_product{
    width: 100px;
}

/*style for homework 11.02*/
.div_recipe{
    display: flex;
    flex-direction: column;
}
.div_recipe_main_info{
    display:flex;
    gap: 10px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}
.div_recipe_main_info button{
    border-style: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: darkblue;
    color: white;
    font-size: 14px;
}
.div_recipe_details{
    display: grid;
    background: lightgray;
    grid-template-columns: 25% 25% 25% 25%;
}
.img_recipe{
    height: 300px;
}