*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

h3{
    padding-top: 10px;
}
header{
    display: flex;
    width: 100%;
    background: antiquewhite;
}
header h1{
    padding: 5px 0 5px 50px;
    width: 40vw;
}

.header_div_pages{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    padding: 5px 50px 5px 0;
}

aside{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 3px;
}

.a_current{
    color: blue;
    /*background: lightgray;*/
    font-weight: bold;
    font-size: 18px;
    border-style: solid;
    /*border-color: black;*/
    /*margin: 7px;*/
}

main{
    padding-left: 10px;
    font-size: 18px;
}

/*style for homework 11.01*/

.divWithInfo{
    font-weight: bold;
}
#div_carts{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.div_products{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background: lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    /*border-style: solid;*/
}
.div_product{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    background: white;
    border-style: none;
    border-radius: 10px;
    margin: 10px;
}
.p_info{
    color: blue;
    padding: 10px;
}
.img_product{
    background: none;
    padding: 20px;
    /*width: 200px;*/
}

/*style for homework 11.02*/
#h3_recipe_list_title{
    color: blue;
    margin: 10px;
}
.div_recipe{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-bottom: 10px;
}
.div_recipe_main_info{
    display:flex;
    gap: 10px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}
.div_recipe_main_info button{
    border-style: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: darkblue;
    color: white;
    font-size: 14px;
}
.div_recipe_details{
    display: grid;
    background: none;
    border-style: none;
    border-radius: 10px;
    grid-template-columns: 25% 25% 25% 25%;

}

.div_recipe_other_info, .ol_ingredients, .ul_instructions, .img_recipe{
    border-style:none;
    background: lightgray;;
    border-radius: 10px;
    /*padding: 10px;*/
    margin: 10px;
    padding-left: 30px;
    height: 100%;
}

.img_recipe{
    /*max-height: 100vh;*/
    width: 20vw;
    object-fit: cover;

    /*width: 300px;*/
}