*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

h3{
    padding-top: 10px;
}
header{
    display: flex;
    width: 100%;
    background: antiquewhite;
}
header h1{
    padding: 5px 0 5px 50px;
    width: 40vw;
}

.header_div_pages{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    padding: 5px 50px 5px 0;
}

aside{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 3px;
}

.a_current{
    color: blue;
    /*background: lightgray;*/
    font-weight: bold;
    font-size: 18px;
    border-style: solid;
    /*border-color: black;*/
    /*margin: 7px;*/
}

main{
    padding-left: 30px;
    font-size: 18px;
}

/*.product-image{*/
div img{
    width: 200px;
}

/*for script08*/
.users-box{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    background: yellow;
}

/*style for homework 09.02*/
.wrap{
    display: flex;
    width: 100px;
    height: 100px;
    background: red;
    color: green;
    font-size: 20px;
}

.collapse{
    display: flex;
    padding-left: 25px;
    width: 100px;
    height: 100px;
    background: blue;
    color: yellow;
    font-size: 18px;
}
.alpha{
    display: flex;
    padding-left: 25px;
    width: 100px;
    height: 100px;
    background: green;
    color: red;
    font-size: 16px;
}
.beta{
    display: flex;
    padding-left: 25px;
    width: 100px;
    height: 100px;
    background: yellow;
    color: blue;
    font-size: 14px;
}

/*style for homework 09.04*/
.item{
    display: flex;
    padding-left: 25px;
}
.item p{
    padding-left: 10px;
    font-size: 18px;
}

/*style for homework 09.05*/
img{
    height: 300px;
}
.item_title{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin: 10px;
    border-style: solid;
}
.div_duration{
    display: grid;
    /*width: 100%;*/
    grid-template-columns: 30% 70%;
    /*margin: 10px;*/
    padding: 0 10px;
    /*gap: 10px;*/
}
.monthDuration{
    border-style: solid;
    padding-left: 10px;
}
.hourDuration{
    border-style: solid;
    padding-left: 10px;
    margin-left: 10px;
}
.module_list{
    border-style: solid;
    margin: 10px;
    padding: 10px;
}
.module_name{
    border-style: solid;
    margin: 10px;
    padding: 10px;
    list-style: none;
}